<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% if (htmlWebpackPlugin.options.production) { %>
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
    <% } %>
    <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
  </head>
  <body>
    <div class="main-wrapper">
      <%= require('./main-header.html')({}) %>
      <%= require('./main-layout.html')({}) %>
      <%= require('./main-footer.html')({}) %>
    </div>
    <%= require('../modules/modal/modal.html')({
      classes: 'modal--light',
      data: {
        type: 'light',
        icon: 'icon-sun',
        value: '',
        title: 'Xiaomi Yeelight LED Smart Bulb',
        info: 'Включится в 17:00',
        options: ['Вручную', 'Дневной свет', 'Вечерний свет', 'Рассвет']
      }
    }) %>
    <%= require('../modules/modal/modal.html')({
      classes: 'modal--temperature',
      data: {
        type: 'temperature',
        icon: 'icon-temperature--active',
        value: '+23',
        title: 'Elgato Eve Degree Connected',
        info: 'Включено',
        options: ['Вручную', 'Холодно', 'Тепло', 'Жарко']
      }
    }) %>
    <%= require('../modules/modal/modal.html')({
      classes: 'modal--floor',
      data: {
        type: 'floor',
        icon: 'icon-temperature--active',
        value: '+23',
        title: 'Xiaomi Warm Floor',
        info: 'Включено'
      }
    }) %>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>