<!-- Start main-footer -->
<footer class="main-footer">
  <nav class="main-footer__menu footer-menu">
    <div class="footer-menu__item"><a href="#" class="footer-menu__link clickable">Помощь</a></div>
    <div class="footer-menu__item"><a href="#" class="footer-menu__link clickable">Обратная связь</a></div>
    <div class="footer-menu__item"><a href="#" class="footer-menu__link clickable">Разработчикам</a></div>
    <div class="footer-menu__item"><a href="#" class="footer-menu__link clickable">Условия использования</a></div>
  </nav>
  <div class="main-footer__copyright">© 2001–2017  ООО «Яндекс»</div>
</footer>
<!-- End main-footer -->