/* ==========================================================================
   # Base styles, variables & resets
   # using postcss-cssnext for variables
   ========================================================================== */

:root {
  --colorTextMain: #333333;
  --colorTextSub:  #858585;
  
  --sizePixel:     0.0625rem;

  --headerHeight:  3.9375rem;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--colorTextMain);
  
}

@media (min-width: 1366px) {
  html {
    font-size: calc(1600vw / 1366);
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}