/* ==========================================================================
   # Main Footer & Footer menu
   ========================================================================== */
.main-footer {
  font-size: 0.75rem;
  color: var(--colorTextSub);
  letter-spacing: 0.01px;
  padding: 1rem calc(var(--sizePixel) * 20);
}

  .main-footer__copyright {
    padding-top: calc(var(--sizePixel) * 8);
    word-spacing: 0.1rem;
  }

.footer-menu {
  display: flex;
  flex-wrap: wrap;
}

  .footer-menu__item {
    margin-bottom: calc(var(--sizePixel) * 16);
    margin-right: calc(var(--sizePixel) * 16);
  }


  .footer-menu__link {
    text-decoration: none;
    color: inherit;
  }

@media (min-width: 1366px) {
  .main-footer {
    position: absolute;
    bottom: calc(var(--sizePixel) * 25);
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 2.25rem;
    padding-top: 0;
    padding-bottom: 0;
  }

    .footer-menu__item {
      margin-bottom: 0;
    }
}