/* ==========================================================================
   # Page Header styles
   ========================================================================== */


.main-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(var(--sizePixel) * 63);
  padding-left: calc(var(--sizePixel) * 20);
  padding-right: calc(var(--sizePixel) * 20);
}

  .main-header__logo {
    width: calc(var(--sizePixel) * 108);
    height: calc(var(--sizePixel) * 27);
  }

  .main-header__menu {
/*    margin-left: 3.25rem;
    margin-bottom: 0.0625rem;*/
  }