/* ==========================================================================
   # Swipe Crads widget
   ========================================================================== */
.swipe-cards {
  position: relative;
  overflow: hidden;
  height: calc(var(--sizePixel) * 145);
  margin-left: calc(var(--sizePixel) * -20);
  margin-right: calc(var(--sizePixel) * -20);
  padding-left: calc(var(--sizePixel) * 20);
  padding-top: calc(var(--sizePixel) * 20);
}

  .swipe-cards__container {
    position: absolute;
    top: 0;
    bottom: calc(var(--sizePixel) * -15);
    left: 0;
    right: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .swipe-cards__slide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    padding-right: calc(var(--sizePixel) * 20);
  }

  .swipe-cards__card {
    margin-left: calc(var(--sizePixel) * 20);
    margin-top: calc(var(--sizePixel) * 20);
  }

  .swipe-cards__hint {
    display: none;
  }

  .swipe-cards__controls {
    display: none;
  }

.swipe-cards--scripts {
  height: calc(var(--sizePixel) * 125);

  & .swipe-cards__slide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    padding-right: calc(var(--sizePixel) * 10);
    padding-left: calc(var(--sizePixel) * 15);
    padding-top: calc(var(--sizePixel) * 14);
    padding-bottom: calc(var(--sizePixel) * 10);
  }
}

.swipe-cards--devices {
  & .swipe-cards__slide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    padding-right: calc(var(--sizePixel) * 10);
    padding-left: calc(var(--sizePixel) * 15);
    padding-top: calc(var(--sizePixel) * 14);
    padding-bottom: calc(var(--sizePixel) * 10);
  }

  & .swipe-cards__container {
    top: calc(var(--sizePixel) * -5);
  }
}

@media (min-width: 1366px) {
  .swipe-cards__controls {
    display: flex;
  }

  .carousel__controls--active {
    display: flex;
  }

  .swipe-cards__control-icon {
    width: calc(var(--sizePixel) * 16);
    height: calc(var(--sizePixel) * 16);
    color: #000000;
    transition: color 0.3s ease-in-out;
  }

  .swipe-cards__control {
    cursor: pointer;
    width: calc(var(--sizePixel) * 16);
    height: calc(var(--sizePixel) * 16);
    overflow: hidden;
  }

  .swipe-cards__control--next {
    margin-left: calc(var(--sizePixel) * 15);
    transform: rotate(180deg);
  }

  .swipe-cards__control--disabled {
    & .swipe-cards__control-icon {
      color: rgba(0, 0, 0, .3);
      cursor: default;
    }
  }

  .swipe-cards__controls--hidden {
    display: none;
  }

  .swipe-cards--events {
    height: auto;
    width: calc(var(--sizePixel) * 225);
    margin-right: calc(var(--sizePixel) * -5);
    margin-top: calc(var(--sizePixel) * -15);
    margin-bottom: calc(var(--sizePixel) * -20);
    margin-left: 0;

    &  .swipe-cards__container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: calc(var(--sizePixel) * -30);
      overflow-y: scroll;
      overflow-x: hidden;
    }

    & .swipe-cards__slide {
      position: absolute;
      top: 0;
      left: 0;
      right: calc(var(--sizePixel) * 30);
      bottom: auto;
      display: flex;
      flex-direction: column;
      padding-right: calc(var(--sizePixel) * 15);
      padding-bottom: calc(var(--sizePixel) * 10);
      padding-top: calc(var(--sizePixel) * 15);
    }

    &  .swipe-cards__hint {
      display: flex;
      position: absolute;
      width: calc(var(--sizePixel) * 200);
      height: calc(var(--sizePixel) * 41);
      background-color: #F7F7F7;
      border-radius: calc(var(--sizePixel) * 20);
      left: calc(var(--sizePixel) * 20);
      bottom: 0;
      padding-right: calc(var(--sizePixel) * 4);
      transition: all .6s ease-out;
    }

    &  .swipe-cards__hint-icon {
      margin: auto;
      width: calc(var(--sizePixel) * 16);
      height: calc(var(--sizePixel) * 16);
    }

    &  .swipe-cards__hint--hidden {
      opacity: 0;
      transform: translateY(100%);
    }
  }
  
  .swipe-cards--scripts {
    height: calc(20.6875rem + var(--sizePixel) * 8);
    margin-left: calc(var(--sizePixel) * -5);
    margin-top: calc(var(--sizePixel) * -5);
    margin-right: calc(var(--sizePixel) * -10);
    margin-bottom: calc(var(--sizePixel) * -10);

    & .swipe-cards__container {
      padding: calc(var(--sizePixel) * 5);
      overflow: hidden;
      transition: transform .4s ease-in-out;
    }

    & .swipe-cards__slide {
      flex-wrap: wrap;
      padding: 0;
      padding-bottom: calc(var(--sizePixel) * 10);
    }
  }

  .swipe-cards--devices {
    height: calc(var(--sizePixel) * 135);
    top: calc(var(--sizePixel) * -5);
    margin-left: calc(var(--sizePixel) * -40);
    margin-right: calc(var(--sizePixel) * -40);

    & .swipe-cards__controls {
      margin-top: calc(var(--sizePixel) * 8);
    }

  & .swipe-cards__slide {
    padding-right: 0;
    padding-left: 0;
    padding-top: calc(var(--sizePixel) * 9);
  }

    & .swipe-cards__container {
      top: calc(var(--sizePixel) * -10);
      bottom: 0;
      overflow: visible;
      transition: transform .4s ease-in-out;
    }
  }
  
}