  <!-- Start widget-section -->
  <section class="content-section widget-section <%= classes %>">
    <header class="content-section__header widget-section__header">
      <div class="widget-section__header-group">
        <h2 class="content-section__heading"><%= data.heading %></h2>
        <% if (data.filters) { %>
          <%= require('../swipe-cards/filters.html')({
            filters: data.filters
          }) %>
        <% } %> 
      </div>
      <div class="widget-section__controls swipe-cards__controls swipe-cards__controls--hidden">
        <div class="swipe-cards__control swipe-cards__control--prev">
          <svg class="swipe-cards__control-icon">
            <use xlink:href="#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swipe-cards__control swipe-cards__control--next">
          <svg class="swipe-cards__control-icon swipe-cards__control-icon">
            <use xlink:href="#icon-arrow-left"></use>
          </svg>
        </div>
      </div>
    </header>
    <div class="widget-section__body">
      <%= require('../swipe-cards/swipe-cards.html')({
        classes: data.classes,
        cards: data.cards
      }) %>
    </div>
  </section>
  <!-- End widget-section -->